<div class="col-lg-3 col-md-3 col-xs-1">
    <div class="menu-principal">
        <a href="#" class="btn-menu"><i class="fa fa-bars icono"></i></a>
        <h3 class="menu">Taller de Motos</h3>
        <ul class="nav nav-pills nav-stacked menu">
            <li id="inicio"><a href="~/Inicio"><i class="fa fa-home icono izquierda"></i>Inicio</a></li>
            <li id="menuTaller">
                <a href="#" id="taller" data-toggle="collapse" data-target="#submenuTaller" aria-expanded="false"><i class="fa fa-wrench icono izquierda"></i>Taller<i class="fa fa-chevron-down icono derecha"></i></a>
                <ul class="nav collapse" id="submenuTaller" role="menu" aria-labelledby="taller">
                    <li id="principalTaller"><a href="~/Inicio/Taller"><i class="fa fa-wrench icono izquierda"></i>Principal</a></li>
                    <li id="menuCliente"><a href="~/Cliente"><i class="fa fa-group icono izquierda"></i>Clientes</a></li>
                    <li id="menuVehiculoTaller">
                        <a href="#" id="vehiculosTaller" data-toggle="collapse" data-target="#submenuVehiculoTaller" aria-expanded="false"><i class="fa fa-motorcycle icono izquierda"></i>Vehículos<i class="fa fa-chevron-down icono derecha"></i></a>
                        <ul class="nav collapse submenu" id="submenuVehiculoTaller" role="menu" aria-labelledby="vehiculosTaller">
                            <li id="menuVehiculo"><a href="~/Vehiculo"><i class="fa fa-motorcycle icono izquierda"></i> Vehículos</a></li>
                            <li id="menuMarca"><a href="~/Marca"><i class="icono izquierda fa fa-trademark"></i>Marcas</a></li>
                            <li id="menuModelo"><a href="~/Modelo"><i class="icono izquierda fa fa-star-o"></i>Modelos</a></li>
                            <li id="menuCombustible"><a href="~/Combustible"><i class="icono izquierda fa fa-tint"></i>Tipos de Combustible</a></li>
                        </ul>
                    </li>
                    <li id="menuAseguradora"><a href="~/Aseguradora"><i class="fa fa-user-plus icono izquierda"></i>Aseguradoras</a></li>
                    <li id="menuEmpleados"><a href="~/Empleado"><i class="fa fa-user icono izquierda"></i>Empleados</a></li>
                </ul>
            </li>
            <li id="menuVentas">
                <a href="#" id="ventas" data-toggle="collapse" data-target="#submenuVentas" aria-expanded="false"><i class="fa fa-shopping-cart icono izquierda"></i>Ventas<i class="fa fa-chevron-down icono derecha"></i></a>
                <ul class="nav collapse" id="submenuVentas" role="menu" aria-labelledby="ventas">
                    <li id="principalVentas"><a href="~/Inicio/Ventas"><i class="fa fa-shopping-cart icono izquierda"></i>Principal</a></li>
                    <li id="menuFormasPago"><a href="~/FormaPago"><i class="fa fa-cc-mastercard icono izquierda"></i>Formas de Pago</a></li>
                    <li id="menuPresupuesto"><a href="~/Presupuesto"><i class="fa fa-calculator icono izquierda"></i>Hoja de Presupuesto</a></li>
                    <li id="menuTalonario"><a href="~/Talonario"><i class="fa fa-book icono izquierda"></i>Talonarios</a></li>
                </ul>
            </li>
            <li id="menuCompras">
                <a href="#" id="compras" data-toggle="collapse" data-target="#submenuCompras" aria-expanded="false"><i class="fa fa-shopping-basket icono izquierda"></i>Compras<i class="fa fa-chevron-down icono derecha"></i></a>
                <ul class="nav collapse" id="submenuCompras" role="menu" aria-labelledby="compras">
                    <li id="principalCompras"><a href="~/Inicio/Compras"><i class="fa fa-shopping-basket icono izquierda"></i>Principal</a></li>
                    <li id="menuProveedor"><a href="~/Proveedor"><i class="icono izquierda fa fa-user-circle"></i>Proveedores</a></li>
                    <li id="menuServiciosBasicos"><a href="~/ServicioBasico"><i class="icono izquierda fa fa-id-badge"></i>Servicios Básicos</a></li>
                    <li id="menuOrdenCompras"><a href="~/OrdenCompra"><i class="icono izquierda fa fa-file-text-o"></i>Orden de Compras</a></li>
                    <li id="menuFacturaCompras"><a href="~/FacturaCompra"><i class="icono izquierda fa fa-file-text"></i>Factura de Compras</a></li>
                </ul>
            </li>
            <li id="menuStock">
                <a href="#" id="stock" data-toggle="collapse" data-target="#submenuStock" aria-expanded="false"><i class="fa fa-cart-arrow-down icono izquierda"></i>Stock<i class="fa fa-chevron-down icono derecha"></i></a>
                <ul class="nav collapse" id="submenuStock" role="menu" aria-labelledby="stock">
                    <li id="principalStock"><a href="~/Inicio/Stock"><i class="fa fa-cart-arrow-down icono izquierda"></i>Principal</a></li>
                    <li id="menuProductos"><a href="~/Producto"><i class="icono izquierda fa fa-star"></i>Productos y Servicios</a></li>
                    <li id="menuAjustes"><a href="#"><i class="icono izquierda fa fa-cogs"></i>Ajustes</a></li>
                </ul>
            </li>
            <li id="menuCaja"><a href="#"><i class="fa fa-money icono izquierda"></i>Caja</a></li>
            <li id="menuSeguridad">
                <a href="#" id="seguridad" data-toggle="collapse" data-target="#submenuSeguridad" aria-expanded="false"><i class="fa fa-user-secret icono izquierda"></i>Seguridad<i class="fa fa-chevron-down icono derecha"></i></a>
                <ul class="nav collapse" id="submenuSeguridad" role="menu" aria-labelledby="seguridad">
                    <li id="principalSeguridad"><a href="~/Inicio/Seguridad"><i class="fa fa-user-secret icono izquierda"></i>Principal</a></li>
                    <li><a href="~/Usuario"><i class="icono izquierda fa fa-users"></i>Usuarios</a></li>
                    <li><a href="~/Rol"><i class="icono izquierda fa fa-sitemap"></i>Roles</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

