body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 100vh;
    display: flex !important;
    flex-direction: column;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
   text-align: end;
   margin-right: 20px;
   margin-top: 20px;
}

.field-validation-error, .validation-summary-errors, label.error {
    color: red;
}

.input-validation-error, select.form-control.error, .input-validation-error .k-picker-wrap.k-state-default,
.k-widget > span.k-invalid, .k-widget > div.k-invalid, input.k-invalid, .k-dropdown.input-validation-error {
    border: 2px solid red;
}

#contenido h2 {
    text-align: center;
}

a.eliminar {
    background: #eeeeee;
    color: red !important;
}

p.eliminar {
    font-size: 12px;
}

table {
    border: 1px solid #E9E9E9;
}

/*------------- MENÚ PRINCIPAL------------------*/
.btn-menu {
    display: none;
    padding: 20px;
    color: #222222;
}

.btn-menu .icono {
    float: left;
}

.menu-principal {
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #e9e9e9;
}

.menu-principal h3 {
    padding: 10px;
    background: #2C3E50;
    margin: 0;
    color: #999999;
    text-align: center;
}

.menu-principal li a {
    display: block;
    padding: 5px 10px;
    background: #e9e9e9;
    font-size: 18px;
}

.menu-principal li a:hover {
    background: #1a95d5;
    color: white;
    border-left: 5px solid #222222;
}

.menu-principal ul li ul li a {
    background: #222222;
    color: #999999;
    margin-left: 0;
    padding-left: 30px;
}

.menu-principal .submenu li a {
    padding-left: 60px;
}

.menu-principal .menu .activado > a {
    background: #428bca;
    color: white;
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: #428bca !important;
    color: white;
}

.menu-principal .icono {
    font-size: 20px;
    padding-top: 2px;
    line-height: 18px;
}

i.icono.izquierda{
    padding-right: 10px;
}

.menu-principal .icono.izquierda {
    float: left;
}

.menu-principal .icono.derecha {
    margin-left: 10px;
    float: right;
    font-size: 15px;
}

@media screen and (max-width: 991px){
    body{
        display: block !important;
    }
    .btn-menu{
        display: block;
    }

    .menu-principal {
        height: 0;
        position:fixed;
        z-index: 1;
    }

    .menu-principal .menu {
        display: none;
        background: #e9e9e9;
    }

    .container h1 {
        text-align: center;
    }
}

@media screen and (max-width: 410px){
    .button-text {
        display: none;
    }
}

/***************Estilos PDF Export***********************/
 /* Page Template for the exported PDF */
.page-template {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page-template .header {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    border-bottom: 1px solid #888;
    color: #888;
}

.page-template .body-pdf{
    position: absolute;
    top: 50px;
    left: 30px;
    right: 30px;
    color: #2C3E50;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

.page-template .footer {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    border-top: 1px solid #888;
    text-align: center;
    color: #888;
}

.page-template .watermark {
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    margin-top: 30%;
    color: #aaaaaa;
    opacity: 0.1;
    transform: rotate(-35deg) scale(1.7, 1.5);
}


/* Hide the Grid header and pager during export */
.k-pdf-export .k-grid-toolbar,
.k-pdf-export .k-pager-wrap,
.k-pdf-export .k-filter-row,
.k-pdf-export .k-i-filter,
.k-pdf-export .k-button.k-button-icontext.k-grid-VerDetalles,
span.k-i-warning
{
    display: none;
}

a.k-grid-pdf, a.k-grid-save-changes, a.k-grid-cancel-changes {
    float: right;
}

/******************Estilos para detalles de la grilla*/
#details-container {
    padding: 10px;
}

#details-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#details-container em {
    color: #8c8c8c;
}

.k-grid  .k-grid-header  .k-header  .k-link {
    height: auto;
}
  
.k-grid  .k-grid-header  .k-header {
    white-space: normal;
}

/*********************Estilos para los label************/

#labelCiudad, #labelFecha, #labelSucursal{
    display: block;
}

#ciudadId, #sucursalId{
    display: inline;
}


/***********************Estilos para las tablas de Bootstrap********************/
tr select{
    width: 200px !important;
}

tr input[type=number]{
    width: 120px !important;
}

#ordenCompraDetalle thead, #ordenDetalle thead, #facturaCompraDetalle thead, #prepDetalle thead, #presupuestoDetalle thead, #facturaVentaDetalle thead{
    background-color: #2C3E50;
    color: #999999;
}

button#eliminar{
    padding: 0px 5px;
}

span.error, span.error-repetido {
    display: none;
    color: red;
    font-size: 90%;
}

tr.error {
    background-color: rgba(255,0,0,0.35);
}

/******************Formulario Productos o Servicios****************/
.producto, .servicio {
    display: none;
}