@{
    ViewBag.Title = "Lista de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista De Clientes</h2>

    <div id="example">
        <div id="grid" style="width:100%"></div>
        <div id="details"></div>
        @if (ViewBag.CrearCliente)
        {
            <input type="hidden" value="1" id="crearCliente" />
        }
        else
        {
            <input type="hidden" value="0" id="crearCliente" />
        }
        @if (ViewBag.EditarCliente)
        {
            <input type="hidden" value="1" id="editarCliente" />
        }
        else
        {
            <input type="hidden" value="0" id="editarCliente" />
        }

        @if (ViewBag.EliminarCliente)
        {
            <input type="hidden" value="1" id="eliminarCliente" />
        }
        else
        {
            <input type="hidden" value="0" id="eliminarCliente" />
        }
    </div>
</div>

@section Scripts{
    <script>
        /*
            This demo renders the grid in "DejaVu Sans" font family, which is
            declared in kendo.common.css. It also declares the paths to the
            fonts below using <tt>kendo.pdf.defineFont</tt>, because the
            stylesheet is hosted on a different domain.
        */
        kendo.pdf.defineFont({
            "DejaVu Sans"             : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold"        : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic" : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic"      : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "WebComponentsIcons"      : "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
        });
    </script>
    <script src="https://kendo.cdn.telerik.com/2017.3.913/js/pako_deflate.min.js"></script>

    <script type="x/kendo-template" id="page-template">
        <div class="page-template">
            <div class="header">
                <div style="float: right">Página #: pageNum # de #: totalPages #</div>
                Lista de Clientes - Taller de Motos Pedrozo
            </div>
            <div class="body-pdf">
                Lista de Clientes
            </div>
            <div class="watermark">Taller de Motos Pedrozo</div>
            <div class="footer">
                Página #: pageNum # de #: totalPages #
            </div>
        </div>
    </script>
    <script>
        var wnd, detailsTemplate;
        $(document).ready(function () {
            $("#menuTaller").addClass('active');

            var puedeCrear = $("#crearCliente").val() == "1" ? true : false;
            var puedeEditar = $("#editarCliente").val() == "1" ? true : false;
            var puedeEliminar = $("#eliminarCliente").val() == "1" ? true : false;

            var table = $("#grid").kendoGrid({
                toolbar: ["pdf"],
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/clientes/ObtenerClientes",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                pdf: {
                    fileName: "Lista de Clientes - Taller de Motos Pedrozo.pdf",
                    allPages: true,
                    avoidLinks: true,
                    paperSize: "A4",
                    margin: { top: "3cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    landscape: true,
                    repeatHeaders: true,
                    template: $("#page-template").html(),
                    scale: 0.8
                },
                pdfExport: function(e){
                    var grid = $("#grid").data("kendoGrid");
                    grid.hideColumn(0);
                    grid.hideColumn(1);
                    grid.hideColumn(7);
                    e.promise
                    .done(function () {
                        grid.showColumn(0);
                        grid.showColumn(1);
                        grid.showColumn(7);
                    });
                },
                height: 550,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de clientes.</p>"
                },
                columns: [{
                    template: "<a href='/Cliente/EditarCliente/ #: Id #' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>",
                    field: "Id",
                    hidden: !puedeEditar,
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    template: "<a href='' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar'></a>",
                    field: "Id",
                    hidden: !puedeEliminar,
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center" 
                    }
                }, {
                    field: "Nombre",
                    title: "Nombre",
                    width: 100,
                }, {
                    field: "Apellido",
                    title: "Apellido",
                    width: 100,
                }, {
                    field: "TipoDocumento.Descripcion",
                    title: "Tipo de Doc.",
                    width: 150
                }, {
                    field: "ValorDocumento",
                    title: "Valor",
                    width: 100,
                    attributes: {
                        style: "text-align: right"
                    }
                }, {
                    field: "Personeria.Descripcion",
                    title: "Personería",
                    width: 120
                }, { 
                    command: { 
                        text: "Ver Detalles", 
                        click: showDetails
                    },
                    title: " ", 
                    width: "130px"
                }]
            });

            if (puedeCrear) {
                $(".k-grid-toolbar").append('<a href="Cliente/NuevoCliente" class="btn btn-primary"><i class="fa fa-plus icono izquierda"></i><span class="button-text">Agregar Cliente</span></a>');
            }

            wnd = $("#details")
                        .kendoWindow({
                            title: "Detalles del Cliente",
                            modal: true,
                            visible: false,
                            resizable: false,
                            width: 350
                        }).data("kendoWindow");
            detailsTemplate = kendo.template($("#template").html());

            $("#grid").on("click", "a.js-eliminar", function () {
                var $tr = $(this).closest("tr"),
                    grid = $("#grid").data("kendoGrid"),
                    dataItem = grid.dataItem($tr);

                var id = dataItem.Id;

                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este cliente?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/clientes/" + id,
                                method: "DELETE"
                            })
                            .done(function (cliente) {
                                console.log(cliente.Message);
                                if (cliente.Success) {
                                    //button.parents("tr").remove();
                                    grid.dataSource.remove(dataItem);
                                    toastr.success(cliente.Message);
                                } else {
                                    if (cliente.Message == "FK_dbo.Vehiculos_dbo.Clientes_ClienteCodigo")
                                        toastr.error("<p class='eliminar'>No se pudo eliminar el cliente. Elimine primero el vehículo de este cliente.</p>" +
                                        "<a href='/Vehiculo' class='btn eliminar'><i class='icono izquierda fa fa-times-circle-o'></i>Eliminar vehículo</a>");
                                }
                            });
                        }
                    }
                });

                return false;
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });

        function showDetails(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }
    </script> 
    
    <script type="text/x-kendo-template" id="template">    
        
        <div id="details-container">
            <h2>#= Nombre # #= (Apellido == null) ? ' ' : Apellido #</h2>
            @*<em>#= Title #</em>*@
            
            <p><b>Ciudad:</b> #= Ciudad.Nombre #</p>
                <p><b>Correo Electrónico:</b> #= (CorreoElectronico == null) ? ' ' : CorreoElectronico #</p>
                <p><b> #= (Personeria.Descripcion == 'Física') ? 'Fecha de Nacimiento:' : 'Fecha de Fundación:' #</b> #= kendo.toString(kendo.parseDate(FechaDeNacimiento), "g") #</p>
            
        </div>
    </script>       
}
