@{
    ViewBag.Title = "Lista de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista De Clientes</h2>

    <p>
        @Html.ActionLink("Nuevo Cliente", "NuevoCliente", "Cliente", new { @class = "btn btn-primary" })
    </p>

    <div id="example">
        <div id="grid"></div>
    </div>
</div>

@section Scripts{
    <script>
        /*
            This demo renders the grid in "DejaVu Sans" font family, which is
            declared in kendo.common.css. It also declares the paths to the
            fonts below using <tt>kendo.pdf.defineFont</tt>, because the
            stylesheet is hosted on a different domain.
        */
        kendo.pdf.defineFont({
            "DejaVu Sans"             : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold"        : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic" : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic"      : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "WebComponentsIcons"      : "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
        });
    </script>
    <script src="https://kendo.cdn.telerik.com/2017.3.913/js/pako_deflate.min.js"></script>

    <script type="x/kendo-template" id="page-template">
        <div class="page-template">
            <div class="header">
                <div style="float: right">Página #: pageNum # de #: totalPages #</div>
                Lista de Clientes - Taller de Motos Pedrozo
            </div>
            <div class="body-pdf">
                Lista de Clientes
            </div>
            <div class="watermark">Taller de Motos Pedrozo</div>
            <div class="footer">
                Página #: pageNum # de #: totalPages #
            </div>
        </div>
    </script>
    <script>
        $(document).ready(function () {
            var table = $("#grid").kendoGrid({
                toolbar: ["pdf"],
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/clientes",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                pdf: {
                    fileName: "Lista de Clientes - Taller de Motos Pedrozo.pdf",
                    allPages: true,
                    avoidLinks: true,
                    paperSize: "A4",
                    margin: { top: "3cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    landscape: true,
                    repeatHeaders: true,
                    template: $("#page-template").html(),
                    scale: 0.8
                },
                pdfExport: function(e){
                    var grid = $("#grid").data("kendoGrid");
                    grid.hideColumn(0);
                    grid.hideColumn(1);
                    e.promise
                    .done(function () {
                        grid.showColumn(0);
                        grid.showColumn(1);
                    });
                },
                height: 550,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "No existe registro de clientes. Current page is: #=this.dataSource.page()#"
                },
                columns: [{
                    template: "<a href='/Cliente/EditarCliente/ #: Id #' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    template: "<a href='' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar' data-cliente-id= #: Id #></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center" 
                    }
                }, {
                    field: "Nombre",
                    title: "Nombre",
                    width: 100,
                }, {
                    field: "Apellido",
                    title: "Apellido",
                    width: 100,
                }, {
                    field: "TipoDocumento.Descripcion",
                    title: "Tipo de Documento",
                    width: 180
                }, {
                    field: "ValorDocumento",
                    title: "Valor del Documento",
                    width: 180,
                    attributes: {
                        style: "text-align: right"
                    }
                }, {
                    field: "Personeria.Descripcion",
                    title: "Personería"
                }]
            });

            $("#grid").on("click", ".js-eliminar", function () {
                var button = $(this);
                console.log("1");
                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este cliente?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/clientes/" + button.attr("data-cliente-id"),
                                method: "DELETE"
                            })
                            .done(function () {
                                button.parents("tr").remove();
                                toastr.success("Cliente eliminado con éxito.");
                            })
                            .fail(function () {
                                toastr.error("No se pudo eliminar el cliente.");
                            });
                        }
                    }
                });

                return false;
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 4000,
                "extendedTimeOut": 1000
            }
        });
    </script>    
}
