@{
    ViewBag.Title = "Lista de Vehículos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista de Vehículos</h2>

    <div id="example">
        <div id="grid" style="width:100%"></div>
        <div id="details"></div>
        @if (ViewBag.CrearVehiculo)
        {
            <input type="hidden" value="1" id="crearVehiculo" />
        }
        else
        {
            <input type="hidden" value="0" id="crearVehiculo" />
        }
        @if (ViewBag.EditarVehiculo)
        {
            <input type="hidden" value="1" id="editarVehiculo" />
        }
        else
        {
            <input type="hidden" value="0" id="editarVehiculo" />
        }

        @if (ViewBag.EliminarVehiculo)
        {
            <input type="hidden" value="1" id="eliminarVehiculo" />
        }
        else
        {
            <input type="hidden" value="0" id="eliminarVehiculo" />
        }
    </div>
</div>

@section Scripts{
    <script>
            /*
                This demo renders the grid in "DejaVu Sans" font family, which is
                declared in kendo.common.css. It also declares the paths to the
                fonts below using <tt>kendo.pdf.defineFont</tt>, because the
                stylesheet is hosted on a different domain.
            */
            kendo.pdf.defineFont({
                "DejaVu Sans"             : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
                "DejaVu Sans|Bold"        : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
                "DejaVu Sans|Bold|Italic" : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
                "DejaVu Sans|Italic"      : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
                "WebComponentsIcons"      : "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
            });
    </script>
    <script src="https://kendo.cdn.telerik.com/2017.3.913/js/pako_deflate.min.js"></script>

    <script type="x/kendo-template" id="page-template">
        <div class="page-template">
            <div class="header">
                <div style="float: right">Página #: pageNum # de #: totalPages #</div>
                Lista de Vehículos - Taller de Motos Pedrozo
            </div>
            <div class="body-pdf">
                Lista de Vehículos
            </div>
            <div class="watermark">Taller de Motos Pedrozo</div>
            <div class="footer">
                Página #: pageNum # de #: totalPages #
            </div>
        </div>
    </script>
    <script>
        var wnd, detailsTemplate;
        $(document).ready(function () {
            $("#menuTaller").addClass('active');

            var puedeCrear = $("#crearVehiculo").val() == "1" ? true : false;
            var puedeEditar = $("#editarVehiculo").val() == "1" ? true : false;
            var puedeEliminar = $("#eliminarVehiculo").val() == "1" ? true : false;

            var table = $("#grid").kendoGrid({
                toolbar: ["pdf"],
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/vehiculos",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                pdf: {
                    fileName: "Lista de Vehículos - Taller de Motos Pedrozo.pdf",
                    allPages: true,
                    avoidLinks: true,
                    paperSize: "A4",
                    margin: { top: "3cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    landscape: true,
                    repeatHeaders: true,
                    template: $("#page-template").html(),
                    scale: 0.8
                },
                pdfExport: function (e) {
                    var grid = $("#grid").data("kendoGrid");
                    grid.hideColumn(0);
                    grid.hideColumn(1);
                    grid.hideColumn(7);
                    e.promise
                    .done(function () {
                        grid.showColumn(0);
                        grid.showColumn(1);
                        grid.showColumn(7);
                    });
                },
                height: 500,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de vehículos.</p>"
                },
                columns: [{
                    template: "<a href='/Vehiculo/EditarVehiculo/ #: Id #' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>",
                    field: "Id",
                    hidden: !puedeEditar,
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    template: "<a href='' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar'></a>",
                    field: "Id",
                    hidden: !puedeEliminar,
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    field: "Matricula",
                    title: "Matrícula",
                    width: 100
                }, {
                    field: "Chasis",
                    title: "Chasís",
                    width: 100
                },
                {
                    field: "Modelo.Nombre",
                    title: "Modelo",
                    width: 120
                }, 
                 {
                    field: "Cliente.Nombre",
                    title: "Cliente",
                    width: 120
                }, 
                 {
                    field: "Combustible.Nombre",
                    title: "Tipo Comb.",
                    width: 120
                 },
                {
                    command: {
                        text: "Ver Detalles",
                        click: showDetails
                    },
                    title: " ",
                    width: "130px"
                }]
            });

            if (puedeCrear) {
                $(".k-grid-toolbar").append('<a href="Vehiculo/NuevoVehiculo" class="btn btn-primary"><i class="fa fa-plus icono izquierda"></i><span class="button-text">Agregar Vehículo</span></a>');
            }

            wnd = $("#details")
                        .kendoWindow({
                            title: "Detalles del Vehículo",
                            modal: true,
                            visible: false,
                            resizable: false,
                            width: 350
                        }).data("kendoWindow");
            detailsTemplate = kendo.template($("#template").html());

            $("#grid").on("click", "a.js-eliminar", function () {
                var $tr = $(this).closest("tr"),
                    grid = $("#grid").data("kendoGrid"),
                    dataItem = grid.dataItem($tr);

                var id = dataItem.Id;

                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este vehículo?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/vehiculos/" + id,
                                method: "DELETE"
                            })
                            .done(function () {
                                grid.dataSource.remove(dataItem);
                                toastr.success("Vehículo eliminado con éxito");
                            })
                            .fail(function () {
                                toastr.error("<p class='eliminar'>No se pudo eliminar el vehículo.</p>");
                            });
                        }
                    }
                });
                return false;
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }

            function showDetails(e) {
                e.preventDefault();

                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                wnd.content(detailsTemplate(dataItem));
                wnd.center().open();
            }
        });
    </script>

    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            <h2>#= (Matricula == null) ? ' ' : Matricula #</h2>
            @*<em>#= Title #</em>*@

            <p><b>Fecha de Ingreso:</b> #= kendo.toString(kendo.parseDate(FechaDeIngreso), "g") #</p>
            <p><b>Kilometraje:</b> #= (Kilometro == null) ? '0' : Kilometro # km.</p>
            <p><b>Color:</b> #= (Color == null) ? ' ' : Color #</p>
            <p><b>Aseguradora:</b> #= (Aseguradora == null || Aseguradora.Nombre == null) ? ' ' : Aseguradora.Nombre #</p>
        </div>
    </script>
}
