@{
    ViewBag.Title = "Lista de Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista de Empleados</h2>    

    <div id="example">
        <div id="grid" style="width:100%"></div>
        <div id="details"></div>
    </div>
</div>

@section Scripts{
    <script>
        var wnd, detailsTemplate;
        $(document).ready(function () {
            $("#menuTaller").addClass('active');

            var table = $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/empleados",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                height: 500,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de empleados.</p>"
                },
                columns: [{
                    field: "Nombre",
                    title: "Nombre",
                    width: 100
                }, {
                    field: "Apellido",
                    title: "Apellido",
                    width: 100
                }, {
                    field: "Cedula",
                    title: "Cédula",
                    width: 120
                }, {
                    field: "Telefono",
                    title: "Teléfono",
                    width: 120
                }, {
                    command: {
                        text: "Ver Detalles",
                        click: showDetails
                    },
                    title: " ",
                    width: "130px"
                }]
            });

            wnd = $("#details")
                        .kendoWindow({
                            title: "Detalles del Empleado",
                            modal: true,
                            visible: false,
                            resizable: false,
                            width: 350
                        }).data("kendoWindow");
            detailsTemplate = kendo.template($("#template").html());           

            function showDetails(e) {
                e.preventDefault();

                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                wnd.content(detailsTemplate(dataItem));
                wnd.center().open();
            }
        });
    </script>

    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            <h2>#= Nombre # #= Apellido #</h2>
            @*<em>#= Title #</em>*@

            <p><b>Dirección:</b> #= (Direccion == null) ? ' ' : Direccion #</p>
            <p><b>Correo Electrónico:</b> #= (CorreoElectronico == null) ? ' ' : CorreoElectronico #</p>
            <p><b>Fecha de Nacimiento:</b> #= kendo.toString(kendo.parseDate(FechaDeNacimiento), "g") #</p>
            <p><b>Hora de Entrada:</b> #= (HoraDeEntrada == null) ? ' ' : HoraDeEntrada #</p>
            <p><b>Hora de Salida:</b> #= (HoraDeSalida == null) ? ' ' : HoraDeSalida #</p>
        </div>
    </script>
}
