@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista de Usuarios</h2>

    <p><a href="Account/Register" class="btn btn-primary"><i class="fa fa-plus icono izquierda"></i><span class="button-text">Registrar Nuevo Usuario</span></a></p>

    <div id="example">
        <div id="grid" style="width:100%"></div>
    </div>
</div>

@section Scripts{
    <script>
        function onDataBound(e){
            var grid = this;

            grid.tbody.find("tr[role='row']").each(function () {
                var model = grid.dataItem(this);
                
                if (model.UserName == "admin") {
                    console.log($(this).find("a.js-delete"));
                    $(this).find("a.btn-link.glyphicon.glyphicon-remove.js-eliminar").css("display", "none");
                }
            });
        }

        $(document).ready(function () {
            $("#menuSeguridad").addClass('active');

            var table = $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/usuarios/ObtenerUsuarios",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                height: 300,
                dataBound: onDataBound,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de usuarios.</p>"
                },
                columns: [{
                    template: "<a href='/Account/EditarUsuario/ #: Id #' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    template: "<a href='' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 70,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    field: "UserName",
                    title: "Nombre de Usuario"
                }, {
                    field: "Email",
                    title: "Correo Electrónico"
                }]
            });

            $("#grid").on("click", "a.js-eliminar", function () {
                var $tr = $(this).closest("tr"),
                    grid = $("#grid").data("kendoGrid"),
                    dataItem = grid.dataItem($tr);

                var id = dataItem.Id;

                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este usuario?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/usuarios/EliminarUsuario/" + id,
                                method: "DELETE"
                            })
                            .done(function (usuario) {
                                if (usuario.Success) {
                                    grid.dataSource.remove(dataItem);
                                    toastr.success(usuario.Message);
                                } else {
                                    if (usuario.Message == "FK_dbo.CajaAperturaCierres_dbo.AspNetUsers_UsuarioCodigo")
                                        toastr.error("<p class='eliminar'>No se pudo eliminar el usuario. Elimine primero la apertura de caja al que fue asignado este usuario.</p>" +
                                        "<a href='/CajaAperturaCierre' class='btn eliminar'><i class='icono izquierda fa fa-times-circle-o'></i>Eliminar caja</a>");
                                }
                            });
                        }
                    }
                });

                return false;
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });
    </script>
}
