@{
    ViewBag.Title = "Lista de Talonarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista de Talonarios</h2>

    <p><a href="Talonario/NuevoTalonario" class="btn btn-primary"><i class="fa fa-plus icono izquierda"></i><span class="button-text">Agregar Talonario</span></a></p>

    <div id="example">
        <div id="grid" style="width:100%"></div>
        <div id="details"></div>
    </div>
</div>

@section Scripts{
    <script>
        var wnd, detailsTemplate;
        $(document).ready(function () {
            $("#menuVentas").addClass('active');

            var table = $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/talonarios/ObtenerTalonarios",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                height: 500,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de talonarios.</p>"
                },
                columns: [{
                    template: "<a href='/Talonario/EditarTalonario/ #: Id #' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    template: "<a href='' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    field: "Timbrado",
                    title: "Timbrado",
                    width: 100,
                    attributes: {
                        style: "text-align: right"
                    }
                }, {
                    field: "Caja.Nombre",
                    title: "Caja",
                    width: 90
                }, {
                    field: "NumeroFacturaActual",
                    title: "N° Factura Actual",
                    width: 90,
                    attributes: {
                        style: "text-align: right"
                    }
                }, {
                    field: "EstaActivo",
                    title: "Estado",
                    width: 100,
                    template: "#= EstaActivo ? 'Activo' : 'Inactivo' #"
                }, {
                    command: {
                        text: "Ver Detalles",
                        click: showDetails
                    },
                    title: " ",
                    width: "130px"
                }]
            });
         
            wnd = $("#details")
            .kendoWindow({
                title: "Detalles del Talonario",
                modal: true,
                visible: false,
                resizable: false,
                width: 350
            }).data("kendoWindow");
            detailsTemplate = kendo.template($("#template").html());

            $("#grid").on("click", "a.js-eliminar", function () {
                var $tr = $(this).closest("tr"),
                    grid = $("#grid").data("kendoGrid"),
                    dataItem = grid.dataItem($tr);

                var id = dataItem.Id;

                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este talonario?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/talonarios/EliminarTalonario/" + id,
                                method: "DELETE"
                            })
                            .done(function (talonario) {
                                if (talonario.Success) {
                                    grid.dataSource.remove(dataItem);
                                    toastr.success(talonario.Message);
                                }
                                else {
                                    if(talonario.Message == "FK_dbo.FacturaVentas_dbo.Talonarios_TalonarioCodigo")
                                        toastr.error("<p class='eliminar'>No se pudo eliminar el talonario. Ya está asociado a una Factura de Venta.</p>");
                                }
                            })
                            .fail(function () {
                                toastr.error("<p class='eliminar'>No se pudo eliminar el talonario.</p>");
                            });
                        }
                    }
                });
                return false;
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });

        function showDetails(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }
    </script>

    <script type="text/x-kendo-template" id="template">

        <div id="details-container">

        <p><b>Número de Factura Inicial:</b> #= NumeroFacturaInicial #</p>
        <p><b>Número de Factura Final:</b> #= NumeroFacturaFinal #</p>
        <p><b>Fecha Inicio de Vigencia:</b> #= kendo.toString(kendo.parseDate(FechaInicioVigencia), "dd/MM/yyyy") #</p>
        <p><b>Fecha Fin de Vigencia:</b> #= kendo.toString(kendo.parseDate(FechaFinVigencia), "dd/MM/yyyy") #</p>
    </div>
</script>       
}
