
@{
    ViewBag.Title = "Lista De Orden De Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista De Orden De Compras</h2>
    <div id="example">
        <div id="grid"></div>        
    </div>
</div>

@section Scripts{
    <script>
            $(document).ready(function() {
                var element = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/api/ordenCompras",
                                dataType: "json"
                            }
                        },
                        pageSize: 6,
                        serverPaging: false,
                        serverSorting: false
                    },
                    height: 600,
                    sortable: true,
                    pageable: true,
                    detailInit: detailInit,
                    //dataBound: function() {
                    //    this.expandRow(this.tbody.find("tr.k-master-row").first());
                    //},
                    columns: [
                        {
                            field: "OrdenCompraNumero",
                            title: "Nro. Orden de Compra",
                            width: "90px"
                        },
                        {
                            field: "FechaDeEmision",
                            title: "Fecha de Emisión",
                            type: "date",
                            format: "{0:dd/MM/yyyy}",
                            width: "110px"
                        },
                        {
                            field: "FormaPago.Nombre",
                            title: "Forma de Pago",
                            width: "110px"
                        },
                        {
                            field: "Aseguradora.Nombre",
                            title: "Aseguradora",
                            width: "110px"
                        },
                        {
                            field: "SubTotal",
                            title: "Sub Total",
                            format: "{0:n}",
                            width: "110px"
                        },
                        {
                            field: "Estado.Descripcion",
                            title: "Estado",
                            width: "110px"
                        }
                    ],
                    editable: true
                });
            });

            function detailInit(e) {
                console.log(e);
                $("<div/>").appendTo(e.detailCell).kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/api/ordenCompraDetalles",
                                dataType: "json"
                            }
                        },
                        serverPaging: false,
                        serverSorting: false,
                        serverFiltering: false,
                        pageSize: 10,
                        filter: { field: "OrdenCompraId", operator: "eq", value: e.data.Id }
                    },
                    scrollable: true,
                    sortable: true,
                    pageable: true,
                    columns: [
                        { field: "Id", title: "Cod. Detalle", width: "110px" },
                        { field: "ProductoId", title: "Producto Cod.", width: "110px" },
                        { field: "Producto.Descripcion", title: "Descripción", width: "150px" },
                        { field: "Cantidad", title: "Cantidad", width: "100px" },
                        { field: "Producto.PrecioCosto", title: "Precio Unitario", width: "110px", format: "{0:n}" },
                        { field: "Producto.Iva", title: "Iva", width: "60px" },
                        { field: "Total", title: "Total", width: "300px", width: "110px", format: "{0:n}" }
                    ]
                });
            }
    </script>    
}

