
@{
    ViewBag.Title = "Lista de Orden de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista de Orden de Compras</h2>

    <p>
        <a href="OrdenCompra/OrdenCompraFormulario" class="btn btn-primary"><i class="fa fa-plus icono izquierda"></i><span class="button-text">Nueva Orden de Compra</span></a>
        <a href="FacturaCompra/FacturaCompraFormulario" class="btn btn-primary"><i class="fa fa-file-text icono izquierda"></i><span class="button-text">Registrar Factura</span></a>
    </p>
    <div id="example">
        <div id="grid"></div>        
    </div>
    <div id="details"></div>
</div>

@section Scripts{
    <script>
        var wnd, detailsTemplate;
        kendo.culture().numberFormat.currency.symbol = "₲";
        $(document).ready(function () {
            $("#menuCompras").addClass('active');

            var dataSource = new kendo.data.DataSource({
                autoSync: false,
                transport: {
                    read: {
                        url: "/api/ordenCompras/ObtenerOrdenDeCompras",
                        dataType: "json"
                    }
                },
                pageSize: 6,
                serverPaging: false,
                serverSorting: false,
                schema: {
                    model: {
                        id: "Id",                        
                        fields: {
                            Id: { editable: false },
                            OrdenCompraNumero: {
                                editable: false
                            },
                            FechaDeEmision: {
                                template: "#= kendo.toString(kendo.parseDate(FechaDeEmision), 'MM/dd/yyyy HH:mm tt')#",
                                editable: false
                            },
                            FormaPago: {
                                editable: false
                            },
                            Proveedor: {
                                editable: false
                            },
                            SubTotal: {
                                editable: false
                            },
                            Estado: {
                                nullable: false,
                                editable: false
                            }
                        }
                    }
                }
            });
            
            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 550,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de orden de compras.</p>"
                },
                detailInit: detailInit,
                columns: [
                    //{ command: ["edit"], title: "&nbsp;", width: "100px" },
                    {
                        template: "<a href='/OrdenCompra/AnularOrdenCompra/ #: Id #' class='btn-link glyphicon glyphicon-edit anular' title='Anular'></a>",
                        field: "Id",
                        title: "&nbsp;",
                        filterable: false,
                        sortable: false,
                        width: 50,
                        attributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "OrdenCompraNumero",
                        title: "Nro. Orden de Compra",
                        width: "90px",
                        attributes: {
                            style: "text-align: right"
                        }
                    },
                    {
                        field: "FechaDeEmision",
                        title: "Fecha de Emisión",
                        template: "#= kendo.toString(kendo.parseDate(FechaDeEmision), 'MM/dd/yyyy HH:mm tt')#",
                        width: "110px"
                    },
                    {
                        field: "FormaPago",
                        title: "Forma de Pago",
                        width: "110px",
                        template: "#=FormaPago.Nombre#"
                    },
                    {
                        field: "Proveedor",
                        title: "Proveedor",
                        width: "110px",
                        template: "#=Proveedor.RazonSocial#"
                    },
                    {
                        field: "SubTotal",
                        title: "Sub Total",
                        culture: "es-PY",
                        format: "{0:c0}",
                        width: "110px",
                        attributes: {
                            style: "text-align: right"
                        }
                    },
                    {
                        field: "Estado",
                        title: "Estado",
                        width: "110px",
                        template: "#=Estado.Descripcion#"
                    }
                ],
                dataBound: dataBound
                //editable: "popup"
            });
        });

        function dataBound(e) {
            //Selects all delete buttons
            $("#grid tbody tr .anular").each(function () {
                var currentDataItem = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                //Check in the current dataItem if the row is deletable

                if (currentDataItem.EstadoId != 1) {
                    $(this).remove();
                }
            })
        }

        function detailInit(e) {
            console.log(e);
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/ordenCompraDetalles",
                            dataType: "json"
                        }
                    },
                    serverPaging: false,
                    serverSorting: false,
                    serverFiltering: false,
                    pageSize: 10,
                    filter: { field: "OrdenCompraId", operator: "eq", value: e.data.Id }
                },
                scrollable: true,
                sortable: true,
                pageable: true,
                columns: [
                    { field: "Id", title: "Cod. Detalle", width: "110px", attributes: { style: "text-align: right" } },
                    { field: "ProductoId", title: "Producto Cod.", width: "110px", attributes: { style: "text-align: right" } },
                    { field: "Producto.Descripcion", title: "Descripción", width: "150px" },
                    { field: "Cantidad", title: "Cantidad", width: "90px", attributes: { style: "text-align: right" } },
                    { field: "Producto.PrecioCosto", title: "Precio Unitario", width: "110px", format: "{0:c0}", attributes: { style: "text-align: right" } },
                    { field: "Producto.Iva", title: "Iva", width: "60px", attributes: { style: "text-align: right" } },
                    { field: "Total", title: "Total", width: "100px", format: "{0:c0}", attributes: { style: "text-align: right" } }
                ]
            });
        }
    </script>           
}

