@{
    ViewBag.Title = "Orden de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_MenuVertical")
<style>
    span.error {
        display: none;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido" style="display:none">
    <form id="ordenCompraFormulario">
        <div class="row" id="ordenCabecera">
            <h2>Orden de Compra</h2>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Orden de Compra Nro.:</label>
                        <input readonly required type="number" id="ordenNro" class="form-control" autocomplete="off" min="0" max="999999" oninput="maxLengthCheck(this)" onkeydown="javascript: return event.keyCode == 69 ? false : true" />
                        <span class="error">Order no required</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label style="display:block">Fecha de Emisión:</label>
                        <input id="fechaDeEmision" class="form-control" onkeydown = "return false;"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label>Forma de Pago:</label>
                    <select id="formaPago" class="form-control" required name="formaPago">
                        <option value="">Seleccione una Forma de Pago...</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label>Proveedor:</label>
                    <select id="proveedor" class="form-control" required name="proveedor">
                        <option value="">Seleccione un Proveedor...</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <h4>Orden de Compra Detalles</h4>
        <div class="row table-responsive">
            <table class="table"  id="ordenDetalle">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Producto Cod.</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>IVA</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="mycontainer" id="mainrow">
                        <td>
                            <a id="linkModal" href="~/Producto/NuevoProducto" class="btn-link" target="_blank" style="text-decoration:none" title="Agregar Producto"><i class="fa fa-plus"></i></a>
                        </td>
                        <td>                           
                            <input id="productosId" style="width: 90%; display:inline-block"/>                            
                            <span class="error">Selecciona un producto</span>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="productoDesc"/>                                                
                        </td>
                        <td>
                            <input type="number" id="precio" class="form-control" />
                        </td>
                        <td>
                            <input type="number" id="cantidad" class="quantity form-control" min = "1" max = "9999" oninput = "maxLengthCheck(this)" onkeydown = "javascript: return event.keyCode == 69 ? false : true"/>
                            <span class="error">Cantidad no válida</span>
                        </td>
                        <td>
                            <input type="number" id="iva" class="iva form-control" />
                            <span class="error">IVA no válido</span>
                        </td>
                        <td>
                            <input type="button" id="add" value="Agregar" style="width:80px" class="btn btn-success" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <div id="orderItems" style="display:none">
            <div class="table-responsive">
                <table class="table table-condensed" id="ordenCompraDetalle">
                    <thead>
                        <tr>
                            <th style="display: none">Producto Id</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <span id="orderItemError" style="color:red"></span>
            </div>
            <div class="form-group">
                <label>Total a Pagar: </label>
                <input type="text" name="totalAPagar" id="totalAPagar" value="" readonly class="form-control" style="width: 150px"/>
            </div>
            <div id="footerOrden" style="padding:10px 0; text-align:right">
                <button id="submit" class="btn btn-primary" style="padding:10px 20px">Guardar Orden</button>
                <a id="imprimirOrden" href="" class="btn btn-primary js-imprimir">Imprimir Orden</a>
            </div>
        </div>            
          
    </form>      
</div>

@section Scripts{
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length);
        }

        function CargarMaxCodOrdenCompra()
        {
            var ordenNro = document.getElementById('ordenNro');
            $.ajax({
                url: "@Url.Action("BuscarMaxCodOrdenNro", "OrdenCompra")",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    ordenNro.value = data;
                },
                error: function (request, status, error) {

                },
                failure: function (response) {
                    alert("arriva al failure");
                }
            });
        }

        $(document).ready(function () {
            $("#contenido").fadeIn(2000);
            $("#menuCompras").addClass('active');
            $('#imprimirOrden').hide();
            $("#formaPago").focus();
            CargarMaxCodOrdenCompra();

            var vm = {
                OrdenCompra: {},
                OrdenCompraDetalles: []
            }

            var total = 0;
            var subTotal = 0;
            var count = 0;

            //Cabecera orden de compra
            $.ajax({
                type: "GET",
                url: "/api/formasPago",
                contentType: "application/json",
                success: function (formasPago) {
                    $.each(formasPago, function (i) {
                        $("#formaPago").append($('<option></option>').val(formasPago[i].Id).html(formasPago[i].Nombre));
                    });
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/proveedores",
                contentType: "application/json",
                success: function (proveedores) {
                    $.each(proveedores, function (i) {
                        $("#proveedor").append($('<option></option>').val(proveedores[i].Id).html(proveedores[i].RazonSocial));
                    });
                }
            });

            $("#fechaDeEmision").kendoDateTimePicker({
                culture: "es-ES",
                format: "MM/dd/yyyy HH:mm",
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                value: new Date(),
                dateInput: true,
                attributes: {
                   "width": "68%"
                }
            });

            //Detalle orden de compra
            $("#productosId").kendoDropDownList({
                filter: "eq",
                dataTextField: "Id",
                dataValueField: "Id",
                optionLabel: "--Código--",
                dataSource: {
                    serverFiltering: false,
                    transport: {
                        read: {
                            url: "/api/productos",
                        }
                    }
                },
                change: function(){
                    var productoId = $("#productosId").val();
                    console.log(productoId);
                    $.ajax({
                        url: "/api/productos/" + productoId,
                        contentType: "application/json",
                        method: "GET",
                        success: function (data) {
                            $(data).each(function (index, item) {
                                $("#productos").val(item.Id);
                                $("#productoDesc").val(item.Descripcion);
                                $("#precio").val(item.PrecioCosto);
                                $("#iva").val(item.Iva);
                            });

                            $("#cantidad").focus();
                        }
                    });
                }
            });

            var ddl = $("#productosId").data("kendoDropDownList");
            var wrapper = ddl.wrapper;

            wrapper.keypress(function (e) {

                console.log(e.keyCode);
                ddl.open();
               // ddl.select(ddl.ul.children().eq(1));
            });

            $("#iva").prop("disabled", true);
            $("#productoDesc").prop("disabled", true);
            $("#precio").prop("disabled", true);
            $("#submit").prop("disabled", true);

            $("#add").click(function(event){
                var todoEsValido = true;
                var productoCodigo = $("#productosId").val();
                $("#footerOrden").remove("#imprimirOrden");

                if ($("#productosId").val() == "") {
                    todoEsValido = false;

                    $('.k-dropdown').siblings('span.error').css('display', 'block');
                }
                else {
                    $('.k-dropdown').siblings('span.error').css('display', 'none');
                }

                if ($("#cantidad").val() <= 0) {
                    todoEsValido = false;
                    $('#cantidad').siblings('span.error').css('display', 'block');
                }
                else {
                    $('#cantidad').siblings('span.error').css('display', 'none');
                }

                if (todoEsValido) {
                    $("#submit").prop("disabled", false);

                    ddl.focus();
                    $("#orderItems").fadeIn(1000);
                    count++;
                    total = ($("#precio").val() * $("#cantidad").val()) + ((($("#precio").val() * $("#cantidad").val()) * $("#iva").val()) / 100);
                    subTotal = subTotal + total;
                    $("#totalAPagar").val(subTotal);
                    var ordenCompra = '<tr class="detalle">' +
                        '<td style="display:none">' + $("#productosId").val() + '</td>' +
                        '<td>' + $("#productoDesc").val() + '</td>' +
                        '<td>' + $("#precio").val() + '</td>' +
                        '<td>' + $("#cantidad").val() + '</td>' +
                        '<td>' + $("#iva").val() + '</td>' +
                        '<td>' + total + '</td>' +
                        '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                        '</tr>';

                    $(ordenCompra).hide().appendTo("#ordenCompraDetalle tbody").fadeIn(1000);
                    //console.log($("#productos option:selected").val());                    

                    var oldData = ddl.dataSource.data();
                    var length = oldData.length;
                    console.log(length);

                    // iterate and remove "done" items
                    var item, i;
                    for (i = length - 1; i >= 0; i--) {

                        item = oldData[i];
                        console.log(item);
                        if (item.Id == productoCodigo) {
                            ddl.dataSource.remove(item);
                        }

                    }

                    $("tbody").on("click", ".eliminar", function () {
                        var codProducto = $(this).closest("tr").find("td").eq(0).text();
                        var descProducto = $(this).closest("tr").find("td").eq(1).text();

                        valor = $(this).closest("tr").find("td").eq(5).text();

                        $(this).parents("tr").fadeOut("normal", function () {
                            $(this).remove();
                            subTotal = subTotal - valor;
                            $("#totalAPagar").val(subTotal);

                            if ($("#totalAPagar").val() == 0) {
                                console.log("ok");
                                $("#submit").prop("disabled", true);
                            }

                           ddl.dataSource.add({
                                Id: codProducto,
                                Descripcion: codProducto
                           });

                            //$("#productosId").append($('<option></option>').val(codProducto).html(descProducto));
                        });                        
                        
                        
                    });


                    $("#productosId").data("kendoDropDownList").value("");
                    $("#productoDesc").val("");
                    $("#precio").val("");
                    $("#iva").val("");

                    $("#cantidad").val("");
                }
            });

            $("#ordenCompraFormulario").submit(function (e) {
                e.preventDefault();

                vm.OrdenCompra = {
                    OrdenCompraNumero: $("#ordenNro").val(),
                    FechaDeEmision: $("#fechaDeEmision").val(),
                    FormaPagoId: $("#formaPago").val(),
                    SubTotal: $("#totalAPagar").val(),
                    ProveedorId: $("#proveedor").val()
                }

                $('#ordenCompraDetalle tr.detalle').each(function (index, tr) {

                    var lines = $('td', tr).map(function (index, td) {

                        if (index != 1 && index !=6)
                            return $(td).text();
                    });

                    vm.OrdenCompraDetalles.push({
                        ProductoId: lines[0],
                        Cantidad: lines[2],
                        Total: lines[4]
                    });

                });

                $.ajax({
                    url: "/api/ordenCompras",
                    method: "post",
                    data: vm
                })
                .done(function (ordenCompra) {
                    if (ordenCompra.Success){
                        toastr.success(ordenCompra.Message);
                        $("#submit").prop("disabled", true);
                        $("#imprimirOrden").remove();
                        $("#footerOrden").append('<a id="imprimirOrden" href="OrdenCompraReport?ordenNro=' + $("#ordenNro").val() + '" target="_blank" class="btn btn-primary">Imprimir Orden</a>');

                        $("#imprimirOrden").click(function () {
                            CargarMaxCodOrdenCompra();
                            $("#formaPago").val("");
                            $("#proveedor").val("");
                            $("#ordenCompraDetalle tbody").empty();

                            $("#totalAPagar").val("");
                            subTotal = 0;

                            vm = {
                                OrdenCompra: {},
                                OrdenCompraDetalles: []
                            }
                            $("#imprimirOrden").remove();
                            $("#orderItems").fadeOut(3000);
                        });                        
                    }
                    else {
                        vm = {
                            OrdenCompra: {},
                            OrdenCompraDetalles: []
                        }

                        if (ordenCompra.Message == "IX_OrdenCompraNumero")
                            toastr.error("<p class='eliminar'>No se pudo crear la Orden de Compra. El número de Orden de Compra con el valor '" + $("#ordenNro").val() + "' ya existe.</p>");
                        else
                            toastr.error("<p>Ocurrió algo inesperado</p>");
                    }
                    //validator.resetForm();
                });
            });


            @*$("#imprimirOrden").click(function (e) {
                console.log(e);
                console.log($("#ordenNro").val());
                var ordenNro = $("#ordenNro").val();
                $.ajax({
                    url: "@Url.Action("OrdenCompraReport", "OrdenCompra")",
                    url: "/OrdenCompra/OrdenCompraReport?ordenNro=" + ordenNro,
                    type: "get",
                    //data: { ordenNro: ordenNro },
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        console.log("success");


                    }
                });
            });*@

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });
    </script>    
}