@{
    ViewBag.Title = "Lista de Modelos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista de Modelos</h2>

    <p><a href="Modelo/NuevoModelo" class="btn btn-primary"><i class="fa fa-plus icono izquierda"></i><span class="button-text">Agregar Modelo</span></a></p>

    <div id="example">
        <div id="grid" style="width:100%"></div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/modelos",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },               
                height: 300,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de modelos.</p>"
                },
                columns: [{
                    template: "<a href='/Modelo/EditarModelo/ #: Id #' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    template: "<a href='' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    field: "Nombre",
                    title: "Nombre",
                    width: 100,
                }, {
                    field: "Marca.Nombre",
                    title: "Marca",
                    width: 100,
                }]
            });           

            $("#grid").on("click", "a.js-eliminar", function () {
                var $tr = $(this).closest("tr"),
                    grid = $("#grid").data("kendoGrid"),
                    dataItem = grid.dataItem($tr);

                var id = dataItem.Id;

                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este modelo?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/modelos/" + id,
                                method: "DELETE"
                            })
                            .done(function (modelo) {
                                if (modelo.Success) {
                                    grid.dataSource.remove(dataItem);
                                    toastr.success(modelo.Message);
                                } else {
                                    if (modelo.Message == "FK_dbo.Vehiculos_dbo.Modelos_ModeloCodigo")
                                        toastr.error("<p class='eliminar'>No se pudo eliminar el modelo. Elimine primero el vehículo de este modelo.</p>" +
                                        "<a href='/Vehiculo' class='btn eliminar'><i class='icono izquierda fa fa-times-circle-o'></i>Eliminar vehículo</a>");
                                }
                            });
                        }
                    }
                });

                return false;
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });

        function showDetails(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }
    </script>

    <script type="text/x-kendo-template" id="template">

        <div id="details-container">
            <h2>#= Nombre # #= Apellido #</h2>
            @*<em>#= Title #</em>*@
            <dl>
                <dt>Correo: #= CorreoElectronico #</dt>
                <dt></dt>
                <dt>Fecha Nac: #= kendo.toString(kendo.parseDate(FechaDeNacimiento), "g") #</dt>
            </dl>
        </div>
    </script>
}
