@{
    ViewBag.Title = "Lista de Roles";
}

@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista de Roles</h2>

    <p>@Html.ActionLink("Crear Nuevo Rol", "CrearRol") | @Html.ActionLink("Administrar Rol de Usuario", "ManageUserRoles")</p>
    <hr />

    <div id="example">
        <div id="grid" style="width:100%"></div>
    </div>
</div>

@section Scripts{
    <script>
        function onDataBound(e) {
            var grid = this;

            grid.tbody.find("tr[role='row']").each(function () {
                var model = grid.dataItem(this);

                if (model.Name == "Administrador") {
                    $(this).find("a.btn-link.glyphicon.glyphicon-remove.js-eliminar").css("display", "none");
                    $(this).find("a.btn-link.glyphicon.glyphicon-edit").css("display", "none");
                }
            });
        }

        $(document).ready(function () {
            $("#menuSeguridad").addClass('active');

            var table = $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/roles",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                height: 300,
                dataBound: onDataBound,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                noRecords: {
                    template: "<p>No existe registro de roles.</p>"
                },
                columns: [{
                    template: "<a href='/Rol/EditarRol/#: Id #' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 50,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    template: "<a href='' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar'></a>",
                    field: "Id",
                    title: "&nbsp;",
                    filterable: false,
                    sortable: false,
                    width: 70,
                    attributes: {
                        style: "text-align: center"
                    }
                }, {
                    field: "Name",
                    title: "Nombre de Rol"
                }]
            });

            $("#grid").on("click", "a.js-eliminar", function () {
                var $tr = $(this).closest("tr"),
                    grid = $("#grid").data("kendoGrid"),
                    dataItem = grid.dataItem($tr);

                var id = dataItem.Id;

                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este rol?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/roles/" + id,
                                method: "DELETE"
                            })
                            .done(function (rol) {
                                if (rol.Success) {
                                    grid.dataSource.remove(dataItem);
                                    toastr.success(rol.Message);
                                } else {
                                    if (rol.Message == "FK_dbo.Modelos_dbo.Marcas_MarcaCodigo")
                                        toastr.error("<p class='eliminar'>No se pudo eliminar la marca. Elimine primero el o los modelos que correspondan a esta marca.</p>" +
                                        "<a href='/Modelo' class='btn eliminar'><i class='icono izquierda fa fa-times-circle-o'></i>Eliminar modelo</a>");
                                }
                            });
                        }
                    }
                });

                return false;
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });
    </script>
}
