
@{
    ViewBag.Title = "Factura de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <form id="facturaCompraFormulario">
        <div class="row" id="facturaCabecera" style="display: none">
            <h2>Factura de Compra</h2>

            <div class="row well">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Nro. Orden:</label>
                        <select id="nroOrden" class="form-control" required name="nroOrden">
                            <option value="">Seleccione un Nro. de Orden...</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Timbrado:</label>
                            <input required id="timbrado" class="form-control" name="timbrado" type="number" min="0" max="99999999" oninput="maxLengthCheck(this)" onkeydown="javascript: return event.keyCode == 69 ? false : true" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Nro. de Factura de Compra:</label>
                            <input required id="nroFactura" class="form-control" name="nroFactura" type="number" min="0" max="99999999" oninput="maxLengthCheck(this)" onkeydown="javascript: return event.keyCode == 69 ? false : true" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Proveedor:</label>
                            <input id="proveedor" class="form-control" type="text" readonly/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Forma de Pago:</label>
                            <input id="formaPago" class="form-control" type="text" readonly/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Fecha de Factura de Compra:</label><br />
                            <input id="fechaFactura" style="width: 70%" , onkeydown="return false;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" id="facturaDetalle" style="display:none">   
            <h4>Factura de Compra Detalles</h4>
            <div class="table-responsive">
                <table class="table" id="facturaCompraDetalle">
                    <thead>
                        <tr>
                            <th>Producto Cod.</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>                                 
            <div class="row">
                <label>Total a Pagar:</label>
                <input type="number" id="pagar" class="form-control" readonly style="width: 150px; display: inline-block" />
            </div>
            <div class="row">
                <div id="footerFactura" style="padding:10px 0; text-align:right">
                    <button id="submit" class="btn btn-primary" style="padding:10px 20px">Registrar Factura de Compra</button>
                </div>
            </div>
        </div>        
    </form>
</div>

@section Scripts{
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length);
        }

        function myFunction(i) {
            var subtotal = 0;
            var precio = $("#precioCosto" + i).val();
            var cantidad = $("#cantidad" + i).val();
            var iva = $("#iva" + i).val();
            var total = (precio * cantidad) + (((precio * cantidad) * iva) / 100);
            $("#total" + i).val(function () {
                return total;
            });
               
            $("[id*=total]").each(function () {
                subtotal = subtotal + parseInt($(this).val());
            });
            $("#pagar").val(subtotal);
            if ($("#pagar").val() == 0) {
                $("#submit").prop("disabled", true);
            } else {
                $("#submit").prop("disabled", false);
            }
        }
       
        function isNumberKey(e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 8)) {
                return false;
            }
        }

        $(document).ready(function () {
            $("#facturaDetalle").hide();
            $("#facturaCabecera").fadeIn(2000);
            $("#menuCompras").addClass('active');

            var nuevaFacturaCompraDto = {
                FacturaCompraDto: {},
                FacturaCompraDetalles: []
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("ObtenerOrdenCompraPendiente", "OrdenCompra")",
                contentType: "application/json",
                success: function (ordenCompras) {
                    $.each(ordenCompras, function (i) {
                        $("#nroOrden").append($('<option></option>').val(ordenCompras[i].Id).html(ordenCompras[i].OrdenCompraNumero));
                    });
                }
            });


            $("#nroOrden").change(function () {
                $("#submit").prop("disabled", false);
                $("#facturaCompraDetalle tbody").empty();
                var id = $("#nroOrden option:selected").val();

                if (id != "") {
                    $("#facturaDetalle").fadeIn(1000);
                    var subtotal = 0;

                    $.ajax({
                        url: "/api/ordenCompraDetalles/ObtenerOrdenCompraDetalle/" + id,
                        type: "get",
                        contentType: "application/json",
                        success: function (detalles) {
                            $.each(detalles, function (i, item) {
                                var ordenCompra = '<tr class="detalle">' +
                                '<td><input type="number" value="' + item.ProductoId + '" class="form-control" id="productoId' + i + '" readonly/></td>' +
                                '<td><input type="text" value="' + item.Producto.Descripcion + '" class="form-control" id="productoDescripcion' + i + '" readonly/></td>' +
                                '<td><input type="number" value="' + item.Producto.PrecioCosto + '" class="form-control" id="precioCosto' + i + '" onfocusout="myFunction(' + i + ')" min="0" max="99999999" oninput="maxLengthCheck(this)" onkeydown="return isNumberKey(event)" required/></td>' +
                                '<td><input type="number" value="' + item.Cantidad + '" class="form-control" id="cantidad' + i + '" onfocusout="myFunction(' + i + ')" min="1" max="999" oninput="maxLengthCheck(this)" onkeydown="return isNumberKey(event)" required/></td>' +
                                '<td><input type="number" value="' + item.Producto.Iva + '" class="form-control" id="iva' + i + '" readonly/></td>' +
                                '<td><input type="number" value="' + item.Total + '" class="form-control" id="total' + i + '" readonly/></td>' +
                                '<td class="eliminar-fila"><button id="eliminar" class="btn btn-danger eliminar" type="button"><span class="fa fa-remove"></span></button></td>' +
                                '</tr>';
                                subtotal = subtotal + item.Total;                                
                                $("#pagar").val(subtotal);

                                if (i == 0) {
                                    $("#proveedor").val(item.OrdenCompra.Proveedor.RazonSocial);
                                    $("#formaPago").val(item.OrdenCompra.FormaPago.Nombre);
                                }

                                $(ordenCompra).hide().appendTo("#facturaCompraDetalle tbody").fadeIn(1000);
                            });
                        }
                    });
                } else {
                    $("#pagar").val("");
                    $("#proveedor").val("");
                    $("#formaPago").val("");
                    $("#facturaDetalle").hide();
                } 
                
                $("tbody").on("click", ".eliminar", function () {
                    var subTotal = $("#pagar").val();
                    valor = $(this).closest("tr").find("td input").eq(5).val();

                    $(this).parents("tr").fadeOut("normal", function () {
                        $(this).remove();
                        subTotal = subTotal - valor;
                        $("#pagar").val(subTotal);

                        if ($("#pagar").val() == 0) {
                            $("#submit").prop("disabled", true);
                        }
                    });
                });

            });

            $("#fechaFactura").kendoDateTimePicker({
                culture: "es-ES",
                format: "MM/dd/yyyy HH:mm",
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                value: new Date(),
                dateInput: true
            });
          

            $("#facturaCompraFormulario").submit(function (e) {
                e.preventDefault();

                nuevaFacturaCompraDto.FacturaCompraDto = {
                    FechaFacturaCompra: $("#fechaFactura").val(),
                    Id: $("#nroOrden").val(),
                    Timbrado: $("#timbrado").val(),
                    FacturaNumero: $("#nroFactura").val(),                    
                    OrdenCompraId: $("#nroOrden").val(),
                    Subtotal: $("#pagar").val()
                }

                $('#facturaCompraDetalle tr.detalle').each(function (index, tr) {
                    var lines = $('td input', tr).map(function (index, td) {
                        if (index != 1 && index != 6)
                            return $(td).val();
                    });

                    nuevaFacturaCompraDto.FacturaCompraDetalles.push({
                        ProductoId: lines[0],
                        PrecioProducto: lines[1],
                        Cantidad: lines[2],
                        Total: lines[4]
                    });

                });

                $.ajax({
                    url: "/api/facturaCompras/CrearFacturaCompra",
                    method: "post",
                    contentType: 'application/json; chartset=utf-8',
                    data: JSON.stringify(nuevaFacturaCompraDto)
                })
                .done(function (facturaCompra) {
                    if (facturaCompra.Success) {
                        toastr.success(facturaCompra.Message);
                        $("#nroOrden option:selected").remove();
                        $("#timbrado").val("");
                        $("#nroFactura").val("");
                        $("#proveedor").val("");
                        $("#formaPago").val("");
                        $("#facturaCompraDetalle tbody").empty();
                        $("#pagar").val("");

                        nuevaFacturaCompraDto = {
                            FacturaCompraDto: {},
                            FacturaCompraDetalles: []
                        }
                        $("#facturaDetalle").fadeOut(1000);
                    }
                    else {
                        if (facturaCompra.Message == "PK_dbo.FacturaCompras")
                            toastr.error("<p class='eliminar'>No se pudo registrar la Factura de Compra. El número de Orden de Compra con el valor '" + $("#nroOrden").data("kendoDropDownList").text() + "' ya existe.</p>");
                        else
                            toastr.error("<p>Ocurrió algo inesperado</p>");
                    }
                });
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 6000,
                "extendedTimeOut": 1000
            }
        });
    </script>    
}

